<header>
  <h2>
    <a href="/">JD</a>
  </h2>
  <nav>
    <a class="darker-text" target="_blank" href="https://github.com/jonathonpday">Github</a></li>
    <a class="darker-text" target="_blank" href="https://www.linkedin.com/in/jonathon-day-a0b239264/"
          >Linkedin</a
        >  
  </nav>
</header>