<section>
  <div class="name-container">
    <h1>Jonathon Day</h1>
    <p class="darker-text">
      I write code, build projects and like to learn things.
    </p>
  </div>
  <div class="stats-container">
    <div class="image-container">
      <img src="images/me.jpeg" alt="profile-img" />
    </div>
    <div class="stats darker-text">
      <div>
        <div>
          <i class="fa-solid fa-star"></i>
        </div>
        <p>33 Github Repositories</p>
      </div>
      <div>
        <div>
          <i class="fa-brands fa-github"></i>
        </div>
        <p>76 commits this year</p>
      </div>
      <div>
        <div>
          <i class="fa-solid fa-user-graduate"></i>
        </div>
        <p>MSc in Information Technology</p>
      </div>
    </div>
  </div>
  <p class="about-me">
    Hi, I'm Jonathon Day, a Web Developer and teacher. I am looking to upgrade
    my frontend skills and become more familiar with JavaScript. I am a dad of
    three and enjoying walking and reading
  </p>
  <div>
    <a class="outreach" href="/contact">
      <i class="fa-solid fa-arrow-right"></i>
      <p>Contact Me!</p>
    </a>
  </div>
</section>
