<section class="project-container">
  <p class="darker-text header-text">Latest Projects</p>
  <div class="project-item">
    <div>
      <p class="darker-text">Jan 05, 2024</p>
      <p>
        Quickname is an application to help those dealing with aphasia and
        difficulty with world recall
      </p>
      <div class="link-container">
        <a target="_blank" href="https://github.com/jonathonpday/Quick-Name">
          <div class="link-item">
            <div>
              <i class="fa-brands fa-github"></i>
            </div>
            <p>Github</p>
          </div>
        </a>
        <a
          target="_blank"
          href="https://shrouded-hollows-28448-cf67100d9c70.herokuapp.com/"
        >
          <div class="link-item">
            <div>
              <i class="fa-solid fa-bolt"></i>
            </div>
            <p>Live</p>
          </div>
        </a>
      </div>
    </div>
    <div>
      <img src="../images/quickname.png" alt="Quickname Image" />
    </div>
  </div>
  <div class="project-item">
    <div>
      <p class="darker-text">Jan 10, 2024</p>
      <p>A recreation of the Google homepage using HTML and CSS</p>
      <div class="link-container">
        <a
          target="_blank"
          href="https://github.com/jonathonpday/google-homepage"
        >
          <div class="link-item">
            <div>
              <i class="fa-brands fa-github"></i>
            </div>
            <p>Github</p>
          </div>
        </a>
        <a
          target="_blank"
          href="https://ubiquitous-cassata-341c08.netlify.app/"
        >
          <div class="link-item">
            <div>
              <i class="fa-solid fa-bolt"></i>
            </div>
            <p>Live</p>
          </div>
        </a>
      </div>
    </div>
    <div>
      <img src="../images/google.png" alt="Google Image" />
    </div>
  </div>
  <div class="project-item">
    <div>
      <p class="darker-text">March 15, 2023</p>
      <p>
        A dashboard reading information from an API/JSON file and rendering the
        details as link cards formatted for readability
      </p>
      <div class="link-container">
        <a target="_blank" href="https://github.com/jonathonpday/react-test">
          <div class="link-item">
            <div>
              <i class="fa-brands fa-github"></i>
            </div>
            <p>Github</p>
          </div>
        </a>
        <a target="_blank" href="https://jonathonpday.github.io/react-test/">
          <div class="link-item">
            <div>
              <i class="fa-solid fa-bolt"></i>
            </div>
            <p>Live</p>
          </div>
        </a>
      </div>
    </div>
    <div>
      <img src="../images/dashboard.png" alt="Dashboard Image" />
    </div>
  </div>
</section>
