---
title: "Jonathon Day"
layout: "base.njk"
---

<div class="position-absolute top-50 start-50 translate-middle"">
  <h2>Thanks for getting in touch!</h2>
  <p>I'll respond as soon as I can.<p>
</div>